front-biblioteca/node_modules
front-biblioteca/node_modules/vite/bin/vite.js
front-biblioteca/node_modules/.vite/deps_temp/package.json
front-biblioteca/node_modules/.vite/deps/_metadata.json
back-biblioteca/target/surefire-reports/TEST-com.app.backbiblioteca.Back.Biblioteca.BackBibliotecaApplicationTests.xml
back-biblioteca/target/surefire-reports/com.app.backbiblioteca.Back.Biblioteca.BackBibliotecaApplicationTests.txt
back-biblioteca/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
back-biblioteca/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
back-biblioteca/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
back-biblioteca/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
back-biblioteca/target/maven-archiver/pom.properties
back-biblioteca/target/Back-Biblioteca-0.0.1-SNAPSHOT.jar.original
back-biblioteca/target/Back-Biblioteca-0.0.1-SNAPSHOT.jar
back-biblioteca/.idea/vcs.xml
back-biblioteca/.idea/sonarlint/issuestore/index.pb
back-biblioteca/.idea/sonarlint/issuestore/index.pb
back-biblioteca/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
front-biblioteca/node_modules/vite/bin/vite.js
front-biblioteca/node_modules/.vite/deps_temp/package.json
back-biblioteca/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
back-biblioteca/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
back-biblioteca/.idea/vcs.xml
back-biblioteca/.idea/sonarlint/issuestore/index.pb
back-biblioteca/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
back-biblioteca/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
back-biblioteca/.idea/sonarlint/issuestore/index.pb
back-biblioteca/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
front-biblioteca/node_modules/vite/bin/vite.js
front-biblioteca/node_modules/.vite/deps_temp/package.json
front-biblioteca/node_modules/.vite/deps/_metadata.json
back-biblioteca/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
back-biblioteca/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
